# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
media/

# VSCode
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

